node_modules
npm-debug.log
yarn-error.log
pnpm-debug.log

# Logs
logs
*.log

# Runtime files
coverage
dist
build

# OS & Editor
.DS_Store
Thumbs.db
.vscode
.idea

# Git
.git
.gitignore

# Environment
.env
.env.*
